body{
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin:10px 0px 0px;     
}
hr{
    border: 0;
    height: 3px;
    margin: 0px 15%;
    background-image: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);;
}
footer{
    text-align: center;
    background-color: rgb(2, 2, 44);
    color: white;
    padding: 50px;
    margin: 100px 0px 0px 0px;
}
 /*---------------
  Nav Bar
  --------------*/
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3A3A3A;  
    margin: 10px 8%;     
}
.nav-title{
    font-size: 24px;
    font-weight: bold;   
}
.nav-items{
    display: flex;
    list-style-type: none;   
}
.nav-item{
    font-weight: 600;
    font-size: 16px;
    padding-left: 20px;
}
/*------------------
 Top Banner
 -------------------*/
 .top-container{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 10px 8% 80px;
 }
 .top-itmes{
    margin-right: 50px;
    color: #3A3A3A;  
 }
 .top-headline{
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
    margin: 0px;
 }
 .top-intro{
    width: 80%;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
 }
 .prebook-btn{
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    background: #E02C6D;
    border-radius: 41px;
    width: 196px;
    height: 44px;
    text-decoration: none;
    cursor: pointer;
 }
 .top-image{
    background-image: url(/images/Circle-design.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 25px;    
 }
 .top-image img{
     width: 440px;
     height: 435px;   
 }

/*--------------------------
    Online shoping
 -------------------------- */

.e-shops{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;  
    padding: 10px 50px; 
    margin: 0px 8%;   
}
.e-shop{
    padding: 10px 10px;
}
 
/*--------------------------
    Popular Collections
 -------------------------- */
 .collections-container{
     margin: 100px 8% 10px; 
 }
.collections-container h3{
    text-align: center;
    color: #3A3A3A;
    font-size: 28px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 10%;
    grid-gap: 30px;
}
.product{
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 30px 10px #b8b7b7ad;
    border-radius: 5px;
}
/* ------------------
product details 
--------------------*/
.product-image{
    width: 100%;
}
.product-name{
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    margin: 15px 0px;
    color: #18191F;
}
.product-rate{
    font-family: 'Inter';
    font-size: 24px;
    margin:0px;
}
.product-review{
    margin: 0px;
}
.fa-star, .fa-star-half-stroke{
    color: #FB8200;
    width: 11.07px;
    height: 11.07px;
    padding-right: 4px;
}
.product-rating{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    padding-left: 6px;
    color: gray;
}

.product-details{
    font-family: Inter;
    font-weight: bold;
    line-height: 20px;
    font-size: 14px;
    margin: 0;
    color: #787885;
}
/*----------------
contact Area
------------------*/
.buttom-container{
    display: flex;
    justify-content: center;
}

.contact-container {
    max-width: 450px;
    width: 100%;
}
    
  
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 50px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}
#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}
#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #E02C6D;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}
/*-----------------
     Footer 
-------------------*/
.footer-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: white;
    margin: 0;
}
.copyright{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}
.sosal-logo{
    display: flex; 
    justify-content: center;
}
.fa-brands{
    background: #b6b2b220;
    padding:10px;
    margin: 10px;
    border-radius: 50%;
}

/*---------------
 media query 
 --------------*/

 @media only screen and (max-width:767px) {
    main{
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
    }
   .nav-container,.e-shops{
       justify-content: center;   
   }
   .nav-title{
       font-size: 16px;
   }
   hr,.nav-items{
       display: none;
   }
/* --------------- */
   .top-container, .top-itmes, .top-intro, .top-image, .nav-container,.e-shops,.collections-container,.products, footer{
       margin:10px 0px;
       padding: 0;
       width: 100%;
   }
   .top-container{
       flex-direction: column-reverse;
       text-align: center;
   }
   .top-headline{
       font-size: 28px;
       line-height: 42px;
   }
   .top-intro{
       font-size: 14px;
       line-height: 21px;
   }
   .top-image, .top-image img{
       width: 250px;
       height: 250px;
   }
/* ----------------- */
   .logo{
       width: 4em;
   }
   .products{
       grid-template-columns: repeat(1, 1fr);
   }
/* ------------------- */
   footer{
       padding:50px 0px;
   }
}




